body {
    font-size: 14px;
}

td {
    width: 14%;
}

table {
    width: 100%;
}

.navbar {
    background-color: RGB(33, 108, 42);
    border-radius: 0px;
    color: white;
}

.navbar-brand {
    color: white;
}

.nav a {
    color: white;
}

#hiddenButton {
    background-color: transparent;
    color: slateGray;
    border: 0px;
    font-size: 14px;
    padding-top: 0px;
}

.dollarAmount {
  text-align: right;
}